@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-klaxon-crunchy: var(--font-klaxon-crunchy);
  --font-klaxon-smooth: var(--font-klaxon-smooth);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1, h2, h3 {
  font-family: var(--font-klaxon-crunchy);
}

p {
  font-family: var(--font-klaxon-smooth);
}